@{
    ViewBag.Title = "About";
    ViewBag.AddButtonLabel = "";
}
<div class="app-page-text">
    <h2>Présentation d'Iteration0</h2>
    <div class="underlined-row">
    </div>
    <p>
        Iteration0 est un <span class="b">"Product Line Management Tool"</span>, il s'agit d'une plateforme collaborative destinée au cadrage fonctionnelle d'une gamme de produits.
</p>
    <p>
        Ce cadrage s'effectue selon deux charactéristiques essentielles : la <span class="b">normalisation du comportement</span> d'un produit et sa <span class="b">contextualisation selon des points de variation</span> (Variability Management), permettant ainsi sa tracabilité et la gestion du changement au sein d'une gamme de produits configurables.
    </p>
    <div class="tac"><img style="width:90%;border:4px solid #ddd" src="~/Styles/images/software_product_line_i0.png" /></div><br /><br /><br />


    <h2>Avantages</h2>
    <div class="underlined-row">
    </div>
    <p>
    En utilisant Itération0, <span class="b">chaque produit présentant des alternatives de comportement peut être configurée au niveau de la chaine de production</span>. <br />Ce mécanisme permet la définition transparente d'une gamme de produit à partir de l'ensemble des configurations alternatives possibles.<p/>
    <p>
        <span class="b">Itération0 répond ainsi aux besoins d'une gestion centralisée des fonctionnalités d'un produit en facilitant le travail de l'ensemble des participants :</span>
</p>
    <ul>
        <li>
            Les <span class="b">analystes métiers</span> s'assurent que la normalisation du comportement s'effectue au travers des concepts métiers les plus adaptés.
        </li>
        <li>
            Les <span class="b">points de contact</span> avec les clients peuvent anticiper l'impact de nouvelles exigences clientes sur la chaine de production, et normaliser les spécifications pour un nouveau client.
        </li>
        <li>
            Les <span class="b">développeurs logiciels</span> se forment aux concepts métiers, très utiles en Domain Driven Development, et gagnent du temps en utilisant la tracabilité au sein du code, le moteur de recherche et les échaffaudages de code normalisé.
        </li>
        <li>
            Le <span class="b">product manager</span> et les <span class="b">chefs de projet</span> collaborent sur la roadmap de chaque version du produit afin de prioriser la livraison de nouveaux comportements, impacter les changements, et planifier le lancement de nouveaux produits.
        </li>
        <li>
            Le <span class="b">commercial</span> dispose d'un catalogue précis et à jours des fonctionnalités et des possibilités de configuration déja en place. Sur une chaine de production automatisée, il peut lui même configurer un produit de démo pour son prospect.
        </li>
        <li>
            Les <span class="b">clients</span> disposent d'une documentation contractuellement à jours et adaptée aux features propres à leur version.
        </li>
    </ul>

    @*Scénario principal d'utilisation d'Iteration0
    Les analystes métiers retranscrivent dans Itération0 leurs connaissances du domaine, et les points de contacts remontent les exigences clientes sous formes de Use Case participant aux processus métiers.
    Lorsque les scénario de plusieurs Use Cases ou bien des spécifications fonctionnelles associées varient selon des contraintes fortes du domain et/ou des clients, le product Manager identifie ses contraintes comme des points de variation.
    Les points de contacts différencient les exigences générales des exigences propres aux points de variation.
    La configuration de la ligne de production est adaptée pour permettre la gestion de cette variabilité (NB: Itéartion0 permet de générer l'échaffaudage et la configuration correspondante).
    Les chefs de projet, avec l'outil de leur choix, communiquent les informations utilent aux développeurs (avec éventuellement des liens renvoyant vers Itération0), puis contrôlent que la cadrage de la variabilité et de la tracabilité a bien été respecté lors de l'implémentation.
    Les équipes de tests s'assurent en fin de chaine de production que les différents produits sont opérationnels et remonte au support technique les identifiants des points problématiques si besoin.*@

    <h2>Copyright</h2>
    <div class="underlined-row">
    </div>
    <p>
        Iteration0 est un logiciel libre sous licence <a class="u" href='https://www.gnu.org/licenses/gpl-3.0.html'>GPLv3</a>, conçu et réalisé par <a class="u" href='https://fr.linkedin.com/in/jean-charles-labas-30878951'>Jean-Charles LABAS</a>, téléchargeable depuis <a class="u" href='https://github.com/cognitic/iteration0'>Github</a>.
    </p>
    <div class="underlined-row">
    </div>
</div>
