@{
    ViewBag.Title = "About";
    ViewBag.AddButtonLabel = "";
}
<div class="app-page-text">
    <h2>Présentation d'Iteration0</h2>
    <div class="underlined-row">
    </div>
    <p>
        Iteration0 est un outil de gestion destiné au cadrage fonctionnelle d'une chaine de production logicielle (Product Line Management Tool).
    </p>
    <p>
        Ce cadrage s'effectue selon deux charactéristiques essentielles : la normalisation des exigences du projet assurant leur tracabilité (Requirement Management) et leur contextualisation selon des points de variation (Variability Management), facilitant ainsi la gestion du changement et le marketing d'une gamme de produits.
    </p>
    <div class="tac"><img style="width:90%;border:4px solid #ddd" src="~/Styles/images/software_product_line_i0.png" /></div><br /><br /><br />


    <h2>Avantages</h2>
    <div class="underlined-row">
    </div>
    <p>
    En utilisant Itération0, <span class="b">chaque exigence présentant des variantes de comportement devient configurable au niveau de la chaine de production</span>. <br />Ce mécanisme permet ainsi de définir une gamme de produit à partir de l'ensemble des configurations possibles.<p/>
    <p>
    A l'instar d'un outil de gestion d'infrastructure, <span class="b">il répond aux besoins d'une gestion centralisée des fonctionnalités</span>.<br />Il vise ainsi à satisfaire plusieurs participants au projet :
</p>
    <ul>
        <li>
            Les <span class="b">analystes métiers</span> s'assurent que la normalisation des exigences s'effectue au travers des concepts métiers les plus adaptés.
        </li>
        <li>
            Les <span class="b">points de contact</span> avec les clients peuvent anticiper l'impact de nouvelles exigences clientes sur la chaine de production, et normaliser les spécifications pour un nouveau client.
        </li>
        <li>
            Les <span class="b">développeurs logiciels</span> se forment aux concepts métiers, très utiles en Domain Driven Development, et gagnent du temps en utilisant la tracabilité au sein du code et les échaffaudages de code normalisé.
        </li>
        <li>
            Le <span class="b">product manager</span> et les <span class="b">chefs de projet</span> collaborent sur la roadmap de chaque version du produit afin de prioriser les exigences futures et planifier le lancement de nouveaux produits.
        </li>
        <li>
            Les <span class="b">commerciaux</span> disposent d'un catalogue précis et à jours des fonctionnalités et des possibilités de configuration déja en place. Sur une chaine de production facilement configurable, il est capable de rapidement configurer un produit de démo pour son prospect.
        </li>
        <li>
            Les <span class="b">clients</span> disposent d'une documentation contractuellement à jours et adaptée aux features propres à leur version.
        </li>
    </ul>

    @*Scénario principal d'utilisation d'Iteration0
    Les analystes métiers retranscrivent dans Itération0 leurs connaissances du domaine, et les points de contacts remontent les exigences clientes sous formes de Use Case participant aux processus métiers.
    Lorsque les scénario de plusieurs Use Cases ou bien des spécifications fonctionnelles associées varient selon des contraintes fortes du domain et/ou des clients, le product Manager identifie ses contraintes comme des points de variation.
    Les points de contacts différencient les exigences générales des exigences propres aux points de variation.
    La configuration de la ligne de production est adaptée pour permettre la gestion de cette variabilité (NB: Itéartion0 permet de générer l'échaffaudage et la configuration correspondante).
    Les chefs de projet, avec l'outil de leur choix, communiquent les informations utilent aux développeurs (avec éventuellement des liens renvoyant vers Itération0), puis contrôlent que la cadrage de la variabilité et de la tracabilité a bien été respecté lors de l'implémentation.
    Les équipes de tests s'assurent en fin de chaine de production que les différents produits sont opérationnels et remonte au support technique les identifiants des points problématiques si besoin.*@

    <h2>Copyright</h2>
    <div class="underlined-row">
    </div>
    <p>
        Iteration0 est un logiciel libre sous licence <a class="u" href='https://www.gnu.org/licenses/gpl-3.0.html'>GPLv3</a>, conçu et réalisé par <a class="u" href='https://fr.linkedin.com/in/jean-charles-labas-30878951'>Jean-Charles LABAS</a>, téléchargeable depuis <a class="u" href='https://github.com/cognitic/iteration0'>Github</a>.
    </p>
    <div class="underlined-row">
    </div>
</div>
