@{
    ViewBag.Title = "Project Settings";
    ViewBag.AddButtonLabel = "Add Variation Point";
}
<div class="editor-header-background">
    <div class="tac">
        <div class="editor-header-bubble">
            <h1 class="editor-header-bubble-title"></h1>
            <div>
                <p class="editor-header-bubble-definition"></p>
                <a id="edit-definition-link" class="u action-link" href="/">Edit</a>
            </div>
        </div>
    </div>
</div>
    <div id="editor">

        <div id="editor-variations-wrapper"></div>
        <div class="editor-section">
            <div><span class="r"><a id="add-product-link" href="/">Add +</a></span><h2>Products</h2></div>
            <div class="underlined-row">
            </div>
            <div id="editor-products-wrapper">
                <div class="tac">No Products yet</div>
            </div>
        </div>
        <div class="editor-section">
            <div><span class="r"><a id="add-domaincontext-link" href="/">Add +</a></span><h2>Domain Contexts</h2></div>
            <div class="underlined-row">
            </div>
            <div id="editor-domaincontexts-wrapper">
                <div class="tac">No Contexts yet</div>
            </div>
        </div>
        <div class="editor-section">
            <div><span class="r"><a id="add-process-link" href="/">Add +</a></span><h2>Business Processes</h2></div>
            <div class="underlined-row">
            </div>
            <div id="editor-processes-wrapper">
                <div class="tac">No Processes yet</div>
            </div>
        </div>
        <div class="editor-section">
            <div><span class="r"><a id="add-feature-link" href="/">Add +</a></span><h2>Features</h2></div>
            <div class="underlined-row">
            </div>
            <div id="editor-features-wrapper">
                <div class="tac">No Features yet</div>
            </div>
        </div>
        <div class="editor-section" id="infrastructures">
            <div><span class="r"><a id="add-infrastructure-link" href="/">Add +</a></span><h2>Infrastructures</h2></div>
            <div class="underlined-row">
            </div>
            <div id="editor-infrastructures-wrapper">
                <div class="tac">No Infrastructures yet</div>
            </div>
        </div>
        <script type="text/javascript">
    Iteration0APP.AddControl(new ProjectEditorUIControl(@Html.Raw(ViewBag.editorVMAsJson)));
        </script>

