@{
    ViewBag.Title = "Roadmap";
    ViewBag.AddButtonLabel = "Add New Version";
    ViewBag.GeneratorTitle = "Download Config. Files";
}
<div id="editor">
    <div class="editor-section">
        <div id="editor-versions-wrapper">
            
    @{
        if (ViewBag.AllItems.Count > 0)
        {
            foreach (var item in ViewBag.AllItems)
            {
                <h2>@item.Name</h2>
                <table class="table-centered">
                    <text>
                        @if (@ViewBag.EditorTitle != null)
                        {
                            foreach (var version in item.Versions)
                            {
                            <tr class="inprogress"><td>V0.0.2</td><td class="tdl">Nickname</td><td>4 Requirements</td><td>In Progress</td><td>April 2020</td><td><a class="edit-variation-link action-link" href="/Project/VersionEditor?VersionID=3">Edit</a></td></tr>
                            }
                            }
                            else
                            {
                            <tr><td>V0.0.0</td><td class="tdl">No Versions yet</td><td>0 Requirements  </td><td>-</td><td>-</td><td></td></tr>
                            }
                    </text>
                </table>
            }
        }
        else
        {
            <div class="tac">No Products yet</div>
        }

    }
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#app-page-main-action-button').click(function (e) {
        var newEditor = new VersionEditorUIControl(new VersionEditorViewModel());
        Iteration0APP.AddControl(newEditor);
        newEditor.ShowNewDefinitionForm(@ViewBag.ProjectID,@Html.Raw(@ViewBag.ProductItemsAsJson));
    });
</script>

