@{
    ViewBag.Title = "Search";
    ViewBag.AddButtonLabel = "Search";
}

<div class="app-page-index">
    <div class="underlined-row">
        <div><h1>RESULTS</h1></div>
    </div>
    <p>WORK IN PROGRESS</p>
    <div class="underlined-row">
    </div>
</div>
<script type="text/javascript">
    $('#app-page-main-action-button').click(function (e) {
        Iteration0APP.ShowAlert('Coming soon !');
        return false;
        });
</script>
