@{
    ViewBag.Title = "UI Component Editor";
    ViewBag.AddButtonLabel = "";
}

<div class="editor-header-background">
    <div class="tac">
        <div class="editor-header-bubble">
            <h1 class="editor-header-bubble-title"></h1>
            <div class="tac"><div class="screenshot">No Screenshots</div></div>
            <div>
                <p class="editor-header-bubble-definition"></p>
                <a id="edit-definition-link" class="u action-link" href="/">Edit</a>
            </div>
        </div>
    </div>
</div>
<div id="editor">
    @*<div class="editor-section">
        <div><span class="r"><a id="add-field-link" href="/">Add +</a></span><h2>Fields</h2></div>
        <div id="editor-fields-wrapper">
            <table style="width:100%">
                <thead>
                    <tr>
                        <th>Field</th>
                        <th>Type</th>
                        <th>Required</th>
                        <th>Default</th>
                        <th>Validation</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <br/><div class="tac">No Fields yet</div>
        </div>
    </div>*@

    <div class="editor-section">
        <div><h2>Business Rules</h2></div>
        <div class="underlined-row">
        </div>
        <div id="editor-Specifications-wrapper">
            <div class="tac">No Rules yet</div>
        </div>
    </div>

    <div class="editor-section">
        <div><h2>Rules Alternatives</h2></div>
        <div class="underlined-row">
        </div>
        <div id="editor-alternatives-wrapper">
            <div class="tac">No Alternatives yet</div>
        </div>
    </div>



</div>
<script type="text/javascript">
    Iteration0APP.AddControl(new UIComponentEditorUIControl(@Html.Raw(ViewBag.editorVMAsJson)));
</script>

