@{
    ViewBag.Title = "Use Cases Board";
    ViewBag.AddButtonLabel = "Add New Use Case";
    ViewBag.GeneratorTitle = "Download Business Rules";
}
<div id="board" class="processes-board"></div>

<script type="text/javascript">
    var boardItemAPI = { ItemEditorURL: "/Project/UseCaseEditor?FunctionID=", ItemSaveURL: "/Project/CreateEditBoardItem", ItemRemoveURL: "/Project/RemoveRessourceDefinition" };
    Iteration0APP.AddControl(new BoardEditorUIControl(@Html.Raw(ViewBag.editorVMAsJson), boardItemAPI));
    $('#app-page-generator-button').click(function (e) { Iteration0APP.GeneratePDFForUseCasesSpecificationsWith(new jsPDF('p', 'pt', 'letter'),@Html.Raw(ViewBag.ProjectID)); return false });
</script>