@{
    ViewBag.Title = "Version Editor";
    ViewBag.AddButtonLabel = "Select Business Rules";
}
<div class="editor-header-background">
    <div class="tac">
        <div class="editor-header-bubble">
            <h1 class="editor-header-bubble-title"></h1>
            <div>
                <p class="editor-header-bubble-definition"></p>
                <a id="edit-definition-link" class="u action-link" href="/">Edit</a>
            </div>
        </div>
    </div>
</div>
<div id="editor">
    <div id="editor-versions-wrapper">
        <span id="editor-view-filter" class="r">
        </span>
        <div class="tab">
            <button class="requirement-view-tab active" viewIndex="1">UC View</button>
            <button class="requirement-view-tab" viewIndex="2">UI View</button>
        </div>
        <table class="table-centered Specifications">
            <thead><tr><th></th><th></th><th></th><th></th></tr></thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    Iteration0APP.AddControl(new VersionEditorUIControl(@Html.Raw(ViewBag.editorVMAsJson)));
</script>

