@{
    ViewBag.Title = "Project Definition";
    ViewBag.AddButtonLabel = "";
}
    <div id="editor">
        <div class="editor-section">
            <div>
                <span class="l"><a id="edit-definition-link" href="/">Edit</a></span><div class="cb"></div>
            </div>
            <div class="editor-definition-wrapper">
                <div class="definition-speech">
                    <div id="editor-definition-category" class="context-tag"></div><div id="editor-definition-code" class="req-tag"></div>
                    <p id="editor-definition-zone" style="Line-Height:34px; margin-top:8px;"></p>
                </div>
            </div>
        </div>
        <div class="editor-section">
            <div><span class="r"><a id="add-product-link" href="/">Add +</a></span><h2>Requirements</h2></div>
            <div class="underlined-row">
            </div>
            <div id="editor-product-wrapper">Requirement..</div>
        </div>
    </div>

    <script type="text/javascript">
    Iteration0APP.AddControl(new ProjectEditorUIControl(@Html.Raw(ViewBag.editorVMAsJson)));
    </script>

